.bestsellers {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    background-color: rgb(38, 38, 38);
    color: white;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.imageSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 600px;

}
.imageSlider .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 4%;
    transform: perspective(1000px) rotateX(10deg);
    transform-style: preserve-3d;
    animation: autoRun 100s linear infinite;
}
@keyframes autoRun {
    from{
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}
.imageSlider .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform-style: preserve-3d;
    width: 200px;
    height: 250px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(400px);
}
.imageSlider .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0px 5px white);
    border-radius: 10px;
    transition: all .3s;
}
.imageSlider .slider .item img:hover {
    scale: 1.1;
}

.bestsellersTitleContainer {
    display: flex;
    justify-content: center;
}
.bestsellersTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    opacity: 0%;
}
.bestselllersTitle h1 {
    font-size: 70px;
}
.bestsellersTitle h5 {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0px 3px white);
    margin-bottom: -20px;
    opacity: 0%;
}
.bestsellersTitlePhaseInFromRight {
    opacity: 100% !important;
    animation: BestsellersPhaseInFromRight .5s;
    transition: all .5s;
}
.bestsellersTitlePhaseInFromRighth5 {
    opacity: 100% !important;
    animation: BestsellersPhaseInFromRight 1.3s;
    transition: all .5s;
}
@keyframes BestsellersPhaseInFromRight {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);
    }
}