.shop {
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: auto;
    margin-top: 50px;
    justify-content: space-between;
    color: black;
}
.shop .productCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 280px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0 1px 2px white);
}
.productCardProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 380px;
}
.shop .productCardRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1240px;
    margin-left : auto;
    margin-right: auto;
    gap: 40px;
    margin-bottom: 50px;
}
.shop .productCard img{
    width: 225px;
    max-height: 250px;
    object-fit: contain;
    filter: drop-shadow(0 0px 3px black);
}
#shirt {
    height: auto;
}
.shop .productCard .productCardName{
    font-weight: 500;
}
.shop .productCard .productCardPrice{
    margin-top: 0px;
}
.shop .productCard .productCardBtn {
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 100px;
    margin-top: -15px;
    font-weight: bold;
    cursor: pointer;
}
.productCardBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

